button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn.btn-primary {
  background-color: #4f46e5;
}

.btn.btn-primary:hover {
  background-color: #4338ca;
}

.btn.btn-secondary {
  background-color: #e0e7ff;
  color: #1e1b4b;
}

.btn.btn-secondary:hover {
  background-color: #4138ca;
  color: white;
}

.btn.btn-tertiary {
  background-color: transparent;
  color: #4f46e5;
  border: 3px solid #4f46e5;
}

.btn.btn-tertiary:hover {
  background-color: #4f46e5;
  border-color: #4f46e5;
  color: white;
}

.btn.btn-icon {
  background-color: transparent;
  color: white;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.btn.btn-icon:hover {
  transform: scale(125%);
  background-color: transparent;
}
