.react-loading {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.btn {
  width: "100%";
  padding: "10px";
  background-color: "#0055b1";
  border-radius: "12px";
  color: white;
  border: "none";
  cursor: "pointer";
}
