a.link {
  display: block;
  background-color: #3730a3;
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s;
}

a.link:hover {
  background-color: #1e1b4b;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  color: #b2bec3;
}
