.mb {
  margin-bottom: 10px;
}

.erro {
  color: "red";
  position: "absolute";
  bottom: "24px";
  right: "24px";
  background-color: rgba(255, 0, 0, 0.1);
  padding: "12px";
  border-radius: "12px";
}
