nav {
  display: flex;
  padding: 12px;
  color: white;
  align-items: center;
  background-color: #1a1f25;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
  height: 62px;
  width: 100%;
}
