table {
  width: 100%;
  max-width: 1440px;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #efeeff;
  border-radius: 12px;
}

thead {
  background-color: #e2e0ff;
  color: black;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  border-radius: 12px;
}

th {
  padding: 4px;
}

tbody {
  background-color: white;
  color: black;
  padding: 12px;
  text-align: left;
  font-size: 16px;
  border-radius: 12px;
}

tr {
  border: 1px solid #efeeff;
}

td {
  white-space: nowrap;
  padding: 4px;
  border: 1px solid #efeeff;
}

.action {
  display: flex;
  justify-content: center;
  grid-gap: 2px;
  align-items: center;
}
